<?xml version="1.0"?>
<model>
  <name>V550 Ackermann</name>
  <version>1.0</version>
  <sdf version="1.7">model.sdf</sdf>

  <author>
    <name>DRL Navigation ROS2</name>
    <email>noreply@example.com</email>
  </author>

  <description>
    V550 Ackermann with front-wheel steering and rear-wheel drive.
  </description>
</model>
